<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807832347592-p5bkhl51he6qjgohljioo139i35kgfcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807832347592-p5bkhl51he6qjgohljioo139i35kgfcj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807832347592-dqi44qg1l7h8lsn839ieebv57j5mro8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsb01GXTDhdt6R72jEUujrbIOKhc4wvSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>807832347592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-33</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807832347592:ios:5626a66244d8e5163a56fd</string>
</dict>
</plist>